body {
    background-color: darkblue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px black;
}

.card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: darkblue;
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.3s;
    font-size: 14px;
}

input:focus {
    border-color: #2a5298;
    outline: none;
    box-shadow: 0 0 5px rgba(14, 106, 205, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #123e91;
}

#resultado {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#resultado p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

#out-lucro {
    font-size: 18px;
}

.hidden {
    display: none;
}